.nx
node_modules
packages/*/node_modules
dist
packages/*/dist
packages/*/*.tsbuildinfo
*.tsbuildinfoa
coverage
coverage-summary
credentials.json
*credentials*.json

#vitepress/docs
docs/.vitepress/dist
docs/.vitepress/cache
docs/packages/@superutils